body
{
	font-family: 'Roboto Condensed', sans-serif;
	background-image: url(imgs/gradient.jpg);
	/*background-color: #000;*/
	background-repeat: repeat-y;
	background-position: middle center;
	background-attachment: fixed;
	background-size: 100%;
}

body input
{
	border:0;
}

a
{
	color: #cd2012;
}

a:hover
{
	color: #cd2012;
}


mark
{
	color: white !important;
	background-color: black !important;
}

#connectToMetamask
{
	background-color: #000;
}


#banner
{

	background-image: url(imgs/header-background.jpg);
	background-size: 90%;
	background-repeat: no-repeat;
	background-color: #000;
	background-position: top center;
	color: #fff;
	border: 0px !important;
}

#header
{
	background-color: #000;
	color: #fff;
}

#buy
{
	background-color: #fff;
	/*color: #fff;*/	
}

#buy img 
{
	width: 45px;
}

#buy .btn
{
	background-color: #fff;
	border: 0px !important;
}

#buy a
{
	color: #000;
	/*text-decoration: none;*/
}

#row1
{
	background-color: #fff;
	color: #000;
	border: 0px !important;
}

#rules
{
	background-size: 10%;
	background-repeat: repeat-x;
	background-position: center top;
	border: 0px !important;
	background-color: #fff;
	color: #000;
}

#row3
{
	background-color: #fff;
	/*background-color: #cd2012;*/
	color: #000;
	border: 0px !important;
}


#stake
{
	
	background-image: url(imgs/flames2.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center bottom;

	border: 0px !important;
	background-color: #fff;
	color: #000;
}

#stake .btn
{
	background-color: #000;
}


#redeem
{
	background-color: #cd2012;
	color: #fff;
	border: 0px !important;
}

#redeem .btn
{
	background-color: #000;
}

.redeemTxt
{
	line-height: 18px;
}

#unstake
{
	background-color: #fff;
	color: #000;
	border: 0px !important;
}

#footer
{
	background-color: #000;
	color: #fff;
	border: 0px !important;
}

#contact
{
	background-color: #000;
	color: #fff;
	border: 0px !important;
}

#w-block
{
	background-color: #fff;
	color: #000;
	border: 1px solid #c8c8c8 !important;
}

#b-block
{
	/*width: 100%;*/
	background-color: #000;
	color: #fff;
	border: 0px !important;
}

#pool-XAMP
{
	/*background-image: url(imgs/fireBG3.png);
	background-size: 100%;
	background-position: top;
	background-repeat: no-repeat;*/

	background-color: #fff;
	color: #000;
	border: 1px solid #b9b9b9 !important;
	line-height: 15px;
	background-repeat: no-repeat;
}

#pool-ETH
{
	/*background-image: url(imgs/fireBG3.png);
	background-size: 100%;
	background-position: top;
	background-repeat: no-repeat;*/

	background-color: #fff;
	color: #000;
	border: 1px solid #b9b9b9 !important;
	line-height: 15px;
	background-repeat: no-repeat;
}

#pool-TOB
{
	/*background-image: url(imgs/fireBG3.png);
	background-size: 100%;
	background-position: top;
	background-repeat: no-repeat;*/

	background-color: #fff;
	color: #000;
	border: 1px solid #b9b9b9 !important;
	line-height: 15px;
	background-repeat: no-repeat;
}
#pool-BOA
{
	/*background-image: url(imgs/fireBG3.png);
	background-size: 100%;
	background-position: top;
	background-repeat: no-repeat;*/

	background-color: #fff;
	color: #000;
	border: 1px solid #b9b9b9 !important;
	line-height: 15px;
	background-repeat: no-repeat;
}

#pool-ETH img
{
	width: 100px;
	padding-top: 15px;
	padding-bottom: 10px;
}
#pool-BOA img
{
	width: 100px;
	padding-top: 15px;
	padding-bottom: 10px;
}
#pool-XAMP img
{
	width: 100px;
	padding-top: 15px;
	padding-bottom: 10px;
}
#pool-TOB img
{
	width: 100px;
	padding-top: 15px;
	padding-bottom: 10px;
}
#pools img
{
	width: 100px;
	padding-top: 15px;
	padding-bottom: 10px;
}
#bonusPool
{
	background-image: url(imgs/fireBG3.png);
	background-size: 100%;
	background-position: top;
	background-repeat: no-repeat;

	background-color: #cd2012;
	color: #fff;
	border: 1px solid #cd2012 !important;
	line-height: 15px;
}

#bonusPool img
{
	width: 100px;
	padding-top: 15px;
	padding-bottom: 10px;
}

.bigNumber
{
	font-size: 30px;
	font-weight: 700;
	/*color: #000;*/
}

.gPercentage
{
	font-size: 14px;
	font-weight: 700;
	/*color: #000;*/
}


#r-block
{
	background-color: #000;
	color: #fff;
	border: 0px !important;
}

#apy
{
	font-weight: 300;
}







.info1
{
	font-weight: 300;
	font-size: 20px;
	/*line-height: 25px*/
}

.icon
{
	width: 30px;
	margin-right: 15px;
}


.icon-fire
{
	width: 15px;
	margin-right: 5px;
}

.icon-coins
{
	width: 30px;
	margin-right: 5px;
}

.icon-sm
{
	width: 30px;
}

.icon-led
{
	width: 20px;
}

.coins
{
	width: 70px;
	margin-right: 7px;
	padding-top: 15px;
}

#coinsMenu
{
	color: #fff !important;
}

.coins-y
{
	width: 70px;
	margin-right: 7px;
	padding-top: 0px;
}

.navbar
{
	background-color: #fff !important;
	border: 0px !important;
}

.rate
{
	font-size: 30px;
	font-weight: 300;
}

.burn-btn {
	padding: 0px;
	background: none;
	color: #fff;

}

.burn-btn a {

	color: #fff;
	text-decoration: none;

}



.custom-range::-webkit-slider-thumb {
  width: 1rem;
  height: 1rem;
  margin-top: -0.25rem;
  background-color: #b51515;
  border: 0;
  border-radius: 1rem;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
  appearance: none;
}

.custom-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.5rem;
  color: transparent;
  cursor: pointer;
  background-color: #b51515;
  border-color: transparent;
  border-radius: 1rem;
}

.custom-range:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 0, 0, 0);
}

.custom-range::-webkit-slider-thumb:active {
  background: #b51515;
}

.custom-range::-moz-range-thumb {
  background: gray;
}

.custom-range::-ms-thumb {
  background: gray;
}

.custom-range:focus {
  outline: none;
}

button {
	cursor: pointer;
}